
database.csv
requirements.txt
server.py
static/assets/apple-icon-180x180.png
static/assets/images/laptop.jpg
static/assets/images/laptop2.jpg
static/assets/images/profil.jpg
static/assets/images/space.jpg
static/assets/images/work001-01.jpg
static/assets/images/work001-02.jpg
static/assets/images/work001-03.jpg
static/assets/images/work001-04.jpg
static/assets/images/work01-hover.jpg
static/assets/images/work02-hover.jpg
static/assets/images/work03-hover.jpg
static/assets/space.jpg
static/favicon.ico
static/main.3f6952e4.css
static/main.70a66962.js
templates/about.html
templates/components.html
templates/contact.html
templates/index.html
templates/thankyou.html
templates/work.html
templates/works.html
database.csv
requirements.txt
server.py
static/assets/apple-icon-180x180.png
static/assets/images/laptop.jpg
static/assets/images/laptop2.jpg
static/assets/images/profil.jpg
static/assets/images/space.jpg
static/assets/images/work001-01.jpg
static/assets/images/work001-02.jpg
static/assets/images/work001-03.jpg
static/assets/images/work001-04.jpg
static/assets/images/work01-hover.jpg
static/assets/images/work02-hover.jpg
static/assets/images/work03-hover.jpg
static/assets/space.jpg
static/favicon.ico
static/main.3f6952e4.css
static/main.70a66962.js
templates/about.html
templates/components.html
templates/contact.html
templates/index.html
templates/thankyou.html
templates/work.html
templates/works.html
